<?xml version='1.0' encoding='utf-8'?>
<widget id="eu.hupsis.Hupsis" version="3.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>hupsismobile</name>
    <description>Hupsis Cordova App</description>
    <author email="kalle.kivimaa@iki.fi" href="https://kivimaa.fi">
        Kalle Kivimaa
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="*" />
    <allow-navigation href="*"/>
    <platform name="android">
      <preference name="AndroidInsecureFileModeEnabled" value="true" />
    </platform>
</widget>
